.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1288px;
  width: 100%;
  padding: 0 24px;
  margin: auto;
}